@{
    ViewBag.Title = "About";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Us</h2>
<p>This Is Scoopen Programing Engineering Classes
    Which will Help You To Builed Your Carrer Towords The Information technology
</p>
<p>The Staff Is Very Good To Teach You...</p>
<p>We Give A 100% Guaranty For Placement If You Have A Dedication To achive Your Goal</p>
<p>Thanking You</p>
<p>Scoopen Team...</p>
<div>
    @Html.Partial("Partial_View")
</div>